html, body{
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, .navbar-brand{
	font-family: 'Acme', sans-serif;
}
.menu-title, body{
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
}
nav{
	background-color: #870005;
	font-size: 1.3rem;
}
.navbar-brand{
	font-size: 1.75rem;
}
.navbar-dark .navbar-toggler{
	color: #ffffff;
	font-size: 1.5rem;
	border: none;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-dark .navbar-toggler:focus{
	outline: none;
	box-shadow: none;
}
/* ----------- preloader ------------ */
.hameid-loader-overlay {
    width: 100%;
    height: 100%;
    background: url('../img/preloader.gif') center no-repeat #ffffff;
    background-size: auto;
    z-index: 99999;
    position: fixed;
}
/* ----------- home ------------ */
#home{
	width: 100vw;
	height: 100vh;
	background-image: url('../img/home-bg.jpg');
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #B10009;
	background-attachment: fixed;
}
#home h1{
	font-size: 5rem;
	color: #ffffff;
}
#home h2{
	font-size: 3.75rem;
	color: #ffffff;
}
.intro-container{
	text-align: center;
	padding-top: 22vh;
}
/* ----------- about ------------ */
#about{
	width: 100vw;
	min-height: 500px;
	padding-top: 5%;
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 35%;
	background-color: #ffffff;
	background-image: url('../img/about-bg.png');
}
#about h2{
	font-family: 'Cabin', sans-serif;
}
.theme-btn{
	border: none;
	border-radius: 0;
	font-weight: bold;
	background-color: #B10009;
	color: #ffffff;
}
.theme-btn:hover{
	background-color: #870005;
	color: #ffffff;
}
.theme-btn:focus{
	outline: none;
	box-shadow: none;
}
/* ----------- menu ------------ */
#menu{
    background-image: url(../img/menu-bg.jpg);
    background-attachment: fixed;
}
.mobile-category-btn{
	display: none;
}
.mobile-category-btn:focus{
	outline: none;
}
#menu-nav{
    position: fixed;
    height: 450px;
    width: 30%;
    right:80%;
    top: 150px;
}
#items{
	background-color: #f5efd0;
    margin-left:20%;
    margin-top: 150px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    text-align: left;
}
#menu h1{
    margin-bottom: 4rem;
}
#menu-list{
    list-style-type: none;
    padding-right: 1rem;
}
#menu-nav{
    text-align: right;
    border-right: 2px solid #ffffff;
}
#menu-list li {
    padding: 0.5rem 0;
}

#menu-list li a{
    padding-bottom: 5px;
    color: #ffffff;
}
#menu-list li a:hover{
    color: #ffffff;
    text-decoration: none;
}
#menu-list li a:focus{
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}
#menu-list li .selected{
    color: #ffffff;
    border-bottom: 2px solid #ffffff;;
}
#items p{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}
.top-padding{
    padding-top: 3rem;
}
.section-details{
	border-bottom: 2px solid #B10009;
	margin: 1rem 1rem 2rem 1rem;
}
.section-details p{
	padding: 0!important;
}
.menu-title{
	color: #B10009;
}
.spicy-icon{
	height: 20px;
}
/* ----------- contact ------------ */
#contact{
	width: 100vw;
	min-height: 250px;
	padding-top: 5%; 
	padding-bottom: 5%;
	background-color: #B10009;
	color: #ffffff;
}
.contact-info p{
	color: #ffffff;
}
#contact h3{
	font-family: 'Cabin', sans-serif;
}
#direction-btn{
	border: 2px solid #ffffff;
	border-radius: 0;
	font-weight: bold;
	background-color: transparent;
	color: #ffffff;
}
#direction-btn:hover{
	background-color: #ffffff;
	color: #B10009;
}
#direction-btn:focus{
	outline: none;
	box-shadow: none;
}
/* ----------- footer ------------ */
.footer{
	width: 100vw;
	padding-top: 10px; 
	padding-bottom: 5px;
	background-color: #870005;
	color: #ffffff;
}
/* ----------- media queries ------------ */
@media (max-width: 991px) {
	#home h1{
		font-size: 4rem;
	}
	#home h2{
		font-size: 3rem;
	}
	.intro-container{
		padding-top: 35vh;
	}
	.mobile-category-btn{
		display: block;
	    width: 80vw;
	    background-color: transparent;
	    text-align: center;
	    border: 2px solid #ffffff;
	    margin: 0.5rem 10vw;
	    color: #ffffff;
	}
	#menu-list{
		padding: 0;
		margin-bottom: 0;
	    border-bottom: 2px solid #870005;
	}
	#menu-nav{
		background-color: #B10009;
		text-align: center;
		z-index: 99;
	    position: fixed;
	    width: 100vw;
	    right: 0; 
	    top: 68px;
	    left: 0;
	    height: auto;
	    border-right: none;
	}
	#items{
		margin-left: 0;
	}	
}
@media (max-width: 768px) {
	#home{
		background-attachment: unset;
	}
}	
@media (max-width: 767px) {
	#home{
		background-size: 130%;
	}
	#about{
		background-size: 50%;
	}
	#about h2{
		font-size: 1.5rem;
	}
}
@media (max-width: 575px) {
	#home{
		background-size: 160%;
	}
	#home h1{
		font-size: 3rem;
	}
	#home h2{
		font-size: 2rem;
	}
	#about{
		background-size: 70%;
	}
	.intro-container{
		padding-top: 40vh;
	}
	.contact-info{
		text-align: center;
		margin-bottom: 30px;
	}
	#items{
		margin-top: 110px;
	}
}